/*
 *= require_self
 *= require content/frontpage
 *= require content/arrows
 *= require content/score
 *= require content/expando
 *= require content/post
 *= require content/comment_area
 */

body
{
    div.content
    {
        margin:
        {
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }

        div.nav-buttons
        {
            span.nextprev
            {
                a,
                span.separator
                {
                    color: $black;
                }
            }
        }
    }
}
