/* /content/ */
div.content
  margin:
    top: 0px
    left: 0px
    right: 0px
    bottom: 0px
  div.thing.link
    div.midcol
      margin-top: 6px
      +arrows
    +expando-buttons
  & > div.sitetable
    margin:
      left: -3px
      right: 5px
  div.nav-buttons
    span.nextprev
      a
        color: $black
      span.separator
        color: $black
@import "content/frontpage"
@import "content/score"
@import "content/post"
@import "content/comment_area"
