/*
 *= require_self
 *= require content/arrows
 *= require content/score
 *= require content/expando
 *= require content/post
 *= require content/comment_area
 */

body div.content
{
    margin: 0 0 0 0 !important;
}
div.content div.nav-buttons span.nextprev a
{
    color: #161616;
}
div.content div.nav-buttons span.nextprev span.separator
{
    color: #161616;
}
