div.new-comment
  div.usertext-body
    background:
      color: transparent !important
      image: url(%%T2%%) !important
    border: solid 1px $black !important
body.mod-toolbox div#tb-bottombar.tb-toolbar
  background:
    color: transparent
    image: url(%%T1%%) !important
@import "etc/submission"
@import "etc/moderator"
@import "etc/wiki"
