/*
 *= require_self
 *= require etc/submission
 *= require etc/moderator
 *= require etc/wiki
 *= require etc/footer
 */

div.NERPageMarker, /*RES Page Marker*/
div#progressIndicator /*RES Loading*/
{
	background-color: transparent;
	background-image: url(%%T4%%);
	color: #161616;
    width: 80%;
}
div#progressIndicator h2,p
{
	color: #161616;
}
div#progressIndicator p a#NERStaticLink
{
	color: #A72A2A;
}
div#progressIndicator a:hover
{
	text-decoration: underline;
}
div.content p.tagline em /*Deleted Author*/
{
    font-size: 0px;
}
div.content p.tagline em:after
{
    content: "[ZER0-SUMMED]";
    font-weight: bold;
    font-size: 10px;
    margin-left: -1px;
}
div.content .grayed div.md /*Censored Text*/
{
    margin: 5px 0;
}
div.content .grayed div.md:after
{
    content: "[NUMINIT]";
}
div.content .grayed div.md p
{
    display: none !important;
}
.RES-keyNav-activeElement,
.commentarea .RES-keyNav-activeElement .md,
.commentarea .RES-keyNav-activeElement.entry .noncollapsed,
.keyHighlight
{
    outline: none !important;
    background-color: transparent !important;
}
div#RESMainGearOverlay.RESGearOverlay
{
    top: 20px !important;
}
div#RESPrefsDropdown.RESDropdownList
{
    top: 48px !important;
}
span#RESAccountSwitcherIconOverlay
{
    top: 20px !important;
}
ul#RESAccountSwitcherDropdown.RESDropdownList
{
    top: 48px !important;
}
.new-comment .usertext-body /*Gold-highlit new comments*/
{
    background-color: transparent !important;
    background-image: url(%%T2%%) !important;
    border: solid 1px #161616 !important;
}
body.mod-toolbox div#tb-bottombar.tb-toolbar
{
    background-color: transparent;
    background-image: url(%%T1%%) !important;
}
