div.NERPageMarker, /*RES Page Marker*/
div#progressIndicator /*RES Loading*/
{
	background-color: transparent;
	background-image: url(%%T4%%);
	color: $black;
    width: 80%;
}
div#progressIndicator h2,p
{
	color: $black;
}
div#progressIndicator p a#NERStaticLink
{
	color: $red;
}
div#progressIndicator a:hover
{
	text-decoration: underline;
}
div.content
{
    p.tagline em
    {
        font-size: 0px;
        &:after
        {
            content: "[ZER0-SUMMED]";
            font-weight: bold;
            font-size: 10px;
            margin-left: -1px;
        }
    }
    div.usertext.grayed div.usertext-body div.md
    {
        margin: 5px 0;
        &:after
        {
            content: "[NUMINIT]";
        }
        p
        {
            display: none !important;
        }
    }
}
.RES-keyNav-activeElement,
.commentarea .RES-keyNav-activeElement .md,
.commentarea .RES-keyNav-activeElement.entry .noncollapsed,
.keyHighlight
{
    outline: none !important;
    background-color: transparent !important;
}
div#RESMainGearOverlay.RESGearOverlay
{
    top: 20px !important;
}
div#RESPrefsDropdown.RESDropdownList
{
    top: 48px !important;
}
span#RESAccountSwitcherIconOverlay
{
    top: 20px !important;
}
ul#RESAccountSwitcherDropdown.RESDropdownList
{
    top: 48px !important;
}
.new-comment .usertext-body /*Gold-highlit new comments*/
{
    background-color: transparent !important;
    background-image: url(%%T2%%) !important;
    border: solid 1px $black !important;
}
body.mod-toolbox div#tb-bottombar.tb-toolbar
{
    background-color: transparent;
    background-image: url(%%T1%%) !important;
}

@import "etc/submission";
@import "etc/moderator";
@import "etc/wiki";
