/* flag */
=sidebar-flag($flagstop)
  background:
    color: transparent
    image: $flag
    position: 0 0
    repeat: no-repeat
  display: block
  width: 300px
  height: 300px
  position: relative !important
  top: $flagstop
  left: 0
  margin:
    left: -5px
  z-index: 17
  a
    background:
      color: transparent
      image: url(%%T-Flag%%)
    font:
      size: 0
    padding:
      top: 17px
      right: 300px
      bottom: 32px
body
  &:not(.comments-page)
    div.side
      div.titlebox
        h1.hover.redditname
          +sidebar-flag(-58px)
    &:not(.loggedin)
      div.side
        div.titlebox
          h1.hover.redditname
            +sidebar-flag(-131px)
  &.comments-page
    div.side
      div.titlebox
        h1.hover.redditname
          +sidebar-flag(-170px)
    &:not(.loggedin)
      div.side
        div.titlebox
          h1.hover.redditname
            +sidebar-flag(-243px)
