span.flair
  background:
    color: transparent
    image: url(%%FlairSheet%%)
  border:
    style: none
    radius: 0px
    width: 0px
  display: inline-block
  height: 30px
  margin:
    right: 0px
  padding: 0px
  text-indent: -9999px
  vertical-align: middle
  width: 50px
  z-index: 100
@import "flair/public"
@import "flair/private"
