/* fonts */
a[href$="#Daedric"]
  font:
    family: Daedric
    size: 16px
  text:
    transform: uppercase
a[href$="#Dovah"]
  font:
    family: Dragon_script
    size: 16px
  text:
    transform: uppercase
a[href$="#Dwemer"]
  font:
    family: Dwemer
    size: 16px
  text:
    transform: uppercase
a[href$="#Falmer"]
  font:
    family: Falmer
    size: 16px
  text:
    transform: uppercase
