div.footer-parent
  padding-top: 0px
  a
    +links
  div.footer.rounded
    border:
      color: $black
      style: solid
      width: 1px
    div.col
      border:
        color: $black
        left: 1px
        left-style: solid
      &:first-child
        border: 0px none
      ul.flat-vert.hover
        li.flat-vert.title
          color: $black
          font-family: $sans-serif-set
        li a
          color: $red
  p.bottommenu
    +links
    color: $black
    font:
      family: $sans-serif-set
p.debuginfo
  span.icon
    background-image: url(%%teslorecouncilsmallest%%) /*change pi to Septim Dragon*/
    font-size: 0px
    padding:
      top: 10px
      left: 0px
      right: 9px
      bottom: 5px
  span.content
    color: $green
    font:
      family: $code-set
      size: 10px
    a.gold
      font:
        size: 0px
      &:after
        content: "TalOS"
        font:
          size: 10px
    &:after
      content: " TESLore #{$build_version} (#{$build_name}), built #{$build_time} on #{$build_host} from #{$build_hash}:#{$build_branch}."
