/*
 *= require_self
 *= require global/formatting
 *= require global/spoilers
 */

html
{
    position: relative !important; /*Reddit Companion's shinebar does not cooperate without this*/
}
body
{
    background-attachment: fixed;
    background-image: url(%%Map%%);
    background-position: center center;
    font-family: Roboto, "Helvetica Neue", Helvetica, "Segoe UI", Verdana, sans-serif;
}