/* global */
html
	position:	relative !important
body
	background:
		attachment:	fixed
		image:	url(%%Map%%)
		position:	center center
	font:
		family:	$sans-serif-set
@import "global/formatting"
@import "global/spoilers"
@import "global/fonts"
