//  global
//  General properties

//  Pseudoclasses
//  I wanted to have the flair classes at the top of the sheet, so the list of
//  @extend targets needs to be below the flair in compilation order.
@import "pseudos"

//  We have had lots of issues because of this and I can't really explain why. Just
//  take my word for it: HTML parsing is a *seriously* strange creature.
html,
body
  position: relative !important

//  Map Background
body
  @extend %fonts-sans
  @extend %font-size-standard
  background:
    attachment: fixed
    image:      $bg-main
    position:   center center

//  Specialty TES Fonts
//  I really do feel clever about using maps and loops for these sorts of tasks.
//  I love Sass.
@each $name, $font in $fonts-TES
  a[href$="##{$name}"]
    @extend %tes-font-link
    @extend %#{$font}

//  Username
a.author
  background:
    color:  transparent !important
  border:
    radius: 0 !important
    style:  none
  color:  $black
  margin: 0
  padding:  2px 3px 3px 3px

//  reddit gold links
a.gold,
a.buygold,
div.gold-accent span.title
  color:  $gold !important
  font:
    weight: 700 !important

@import "global/markdown"
@import "global/spoilers"
