//  header
//  Subreddit bar, banner area, userbar
div#header
  @extend %bg-black
  border:
    radius: 0
    style:  none
  font:
    size: 95%
  height: $header-sum-h
  padding:
    bottom: $header-tabmenu-h
  position: relative
  z-index:  10

@import "header/topbar"
@import "header/userbar"
@import "header/banner"
@import "header/logos"
@import "header/tabmenu"
