div#header
{
    background-color: transparent !important;
    border: none;
    font-size: x-small !important;
    z-index: 5 !important;
}

/*
 @require "header/topbar"
 @require "header/userbar"
 @require "header/banner"
 */
