//  header
//  Subreddit bar, banner area, userbar
div#header
  background:
    color:  $black
  border:
    radius: 0
    style:  none
  font:
    size: 90%
  height: $header-sum-h

@import "header/topbar"
@import "header/userbar"
@import "header/banner"
@import "header/tabmenu"
