/* RES */
=RES-Toggle($border,$on-unset,$off-unset,$unset-color,$on-set,$off-set,$set-color)
  span
    border:
      color: $border
      radius: 0px
      style: solid
      width: 1px
  span.toggleOn
    background:
      color: $on-unset // When switch is DISABLED, toggleOn is unset
    color: $unset-color
  span.toggleOff
    background:
      color: $off-set // When switch is DISABLED, toggleOff is set
    color: $set-color
  &.enabled
    span.toggleOn
      background:
        color: $on-set // When switch is ENABLED, toggleOn is set
      color: $set-color
    span.toggleOff
      background:
        color: $off-unset // When switch is ENABLED, toggleOff is unset
      color: $unset-color
div.content
  div.thing
    p.tagline
      a.author.friend,
      a.author.moderator,
      a.author.submitter
        background:
          color: transparent !important
        border:
          radius: 0px
        color: $black !important
      a.voteWeight
        background:
          color: transparent !important
        color: $black !important
  div.thing.link
    div.entry.RES-keyNav-activeElement
      background:
        image: $T0
      div.noncollapsed
        background:
          image: $T0
        form.usertext
          background:
            image: $T0
          div.usertext-body
            background:
              image: $T0
            div.md
              background:
                image: $T0
div.NERPageMarker
  background:
    color: transparent
    image: $T4
  color: $black
  width: 80%
div#progressIndicator
  background:
    color: transparent
    image: $T4
  color: $black
  width: 80%
  h2
    color: $black
    font:
      family: $serif-set
      size: 18px
      weight: bold
  p
    color: $black
    a#NERStaticLink
      color: $red
      &:hover
        text-decoration: underline
.RESCloseButton
  background:
    color: $red !important
  border:
    color: $white !important
    radius: 20px !important
    style: solid !important
    width: 1px !important
  color: $white !important
.RESDialogSmall
  background:
    color: $white
  border:
    color: $black
    radius: 0px
    style: solid
    width: 1px
  h3
    +links
    background:
      image: $texture
    color: $white !important
    top: -6px
    span.fancy-toggle-button
      a.option
        background:
          color: $red
          image: none
        border:
          radius: 0px
          style: none
        color: $white
  div.RESDialogContents
    div.authorFieldPair
      div
        color: $black
    div.bottomButtons
      .blueButton
        background:
          color: $blue
        border:
          radius: 0px
          style: none
    form
      div#userTaggerIgnoreContainer.toggleButton
        +RES-Toggle($black,$green,$red,$white,$grey,$grey,$black)
      input#userTaggerTag,
      input#userTaggerLink,
      input#userTaggerVoteWeight
        background:
          image: $T4
        color: $black
      input#userTaggerSave
        background:
          color: $green
        border:
          color: $black
          radius: 0px
          style: solid
          width: 1px
      label
        color: $black
        span.hoverHelp
          color: $red
      span#userTaggerPreview
        background:
          color: $white
        color: $black
p.tagline
  span.RESUserTag
    a.userTagLink.hasTag
      border:
        radius: 4px
        style: none
@import "RES/userbar"
@import "RES/nightmode"
@import "RES/settings_window"
@import "RES/editor"
