/* RES */
div.content
  div.thing
    p.tagline
      a.author.friend
        background:
          color: transparent !important
        border:
          radius: 0px
        color: $black !important
      a.author.moderator
        background:
          color: transparent !important
        border:
          radius: 0px
        color: $black !important
      a.author.submitter
        background:
          color: transparent !important
        border:
          radius: 0px
        color: $black !important
  div.thing.link
    div.entry.RES-keyNav-activeElement
      background:
        image: url(%%RES-Overlay%%)
      div.entry.RES-keyNav-activeElement
        background:
          image: url(%%RES-Overlay%%)
        div.noncollapsed
          background:
            image: url(%%RES-Overlay%%)
          form.usertext
            background:
              image: url(%%RES-Overlay%%)
            div.usertext-body
              background:
                image: url(%%RES-Overlay%%)
              div.md
                background:
                  image: url(%%RES-Overlay%%)
div.NERPageMarker
  background:
    color: transparent
    image: url(%%T4%%)
  color: $black
  width: 80%
div#progressIndicator
  background:
    color: transparent
    image: url(%%T4%%)
  color: $black
  width: 80%
  h2
    color: $black
    font:
      family: $serif-set
      size: 18px
      weight: bold
  p
    color: $black
    a#NERStaticLink
      color: $red
      &:hover
        text-decoration: underline
.RESCloseButton
  background:
    color: $red !important
  border:
    color: $white !important
    radius: 20px !important
    style: solid !important
    width: 1px !important
  color: $white !important
=RES-ToggleON($border)
  span.toggleOn
    background:
      color: $grey
    border:
      color: $border
      style: solid
      radius: 0px
      width: 1px
    color: $black
  span.toggleOff
    background:
      color: $red
    border:
      color: $border
      style: solid
      radius: 0px
      width: 1px
    color: $white
  &.enabled
    span.toggleOn
      background:
        color: $blue
      color: $white
    span.toggleOff
      background:
        color: $grey
      color: $black
=RES-ToggleOFF($border)
  span.toggleOn
    background:
      color: $blue
    border:
      color: $border
      style: solid
      radius: 0px
      width: 1px
    color: $white
  span.toggleOff
    background:
      color: $grey
    border:
      color: $border
      style: solid
      radius: 0px
      width: 1px
    color: $black
  &.enabled
    span.toggleOn
      background:
        color: $grey
      color: $black
    span.toggleOff
      background:
        color: $red
      color: $white

@import "RES/userbar"
@import "RES/nightmode"
@import "RES/settings_window"
@import "RES/editor"
@import "RES/tagger"
