/* sidebar */
div.side
  background:
    color: transparent
    image: $texture
  border:
    style: none
    width: 0
  color: $white
  position: relative !important
  right: 0
  top: -67px
  width: 300px !important
  z-index: 15 !important
  a.author
    color: $white
  div.md
    hr
      background:
        color: $white
      border:
        style: none
        width: 0
      height: 1px
    p
      color: $white
  @import "sidebar/search"
  @import "sidebar/link_info"
  @import "sidebar/submission"
  @import "sidebar/moderators"
  @import "sidebar/create"
  @import "sidebar/side_content_box"
  @import "sidebar/titlebox"
