/*
 *= require_self
 *= require sidebar/search
 *= require sidebar/link_info
 *= require sidebar/submission
 *= require sidebar/titlebox
 *= require sidebar/create
 *= require sidebar/moderators
 *= require sidebar/side_content_box
 */
 
div.side
{
    background:
    {
        color: transparent;
        image: $texture;
    }
    border:
    {
        style: none;
        width: 0px;
    }
    color: $white;
    position: absolute !important;
    right: 5px;
    top:  $banner-height - 37px;
    width: 300px !important;
    z-index: 15 !important;

    a.author,
    p
    {
        color: $white;
    }
}
