div.thing
  p.tagline
    a.author
      font:
        size: 0px
      &:after
        content: " "attr(class)
        font:
          size: 10px
span.flair
  background:
    image: url(%%PrankSheet%%)
