/* Initializing variable definitions for sheet
 * This will later be fractured as the stylesheet pieces are
 */

/* Global */

/* Colors */
$black: #161616;
$gold: #9A7D2E;
$green: #155415;
$grey: #C7C7C7;
$red: #A72A2A;
$red-desat: #7F1F1F;
$white: #F5F5F5;

/* Font Set */
$code: "Inconsolata", "Consolas", "Lucida Console", "Courier New", monospace;
$sans-serif-set: "Roboto", "Segoe UI", "Helvetica Neue", "Helvetica", "Verdana", sans-serif;
$serif-set: "Georgia", "Garamond", "Book Antiqua", "Palatino Linotype", serif;

/* Images */
$texture: url(%%DarkTex%%);

/*Header*/
$banner: url(%%Banner%%);
$banner-height: 84px;
$logo: url(%%Snoos%%);
$name: url(%%Realms%%);

/* Sidebar */

/* Content */

/* Misc */

/* MIXINS */

/* Submission and Creation */
@mixin create
{
    background-color: $black !important;
    border:
    {
        style: none;
        width: 0px;
    }
    height: 29px;
    width: 300px;
    vertical-align: middle;
    z-index: 20;
}

@mixin create-link
{
    background
    {
        color: $black;
    }
    color: $white;
    font:
    {
        family: $serif-set !important;
        size: large;
        weight: 400;
    }
    position: relative;
    text:
    {
        align: center;
        transform: uppercase;
    }
}

@mixin links
{
    a
    {
        color: $red;
    }
    a:hover
    {
        text-decoration: underline;
    }
    a:visited
    {
        color: $red-desat;
    }
}
