/*
 @import "wiki/wiki_stylesheet"
 @import "wiki/wiki_body"
 */
div.side div#wikiactions ul li ul li a /*Wiki Toolbox*/
{
    background-color: transparent !important;
}

div.side
{
    div#wikiactions
    {
        div.title
        {
            h1
            {
                padding:
                {
                    left: 5px;
                }
            }
            span.collapse-button
            {
                background:
                {
                    color: $white;
                }
                border:
                {
                    style: none;
                    width: 0px;
                }
                color: $black !important;
            }
        }
        ul li ul li a
        {
            background:
            {
                color: transparent !important;
            }
        }
    }
}
