div.footer-parent
{
    padding-top: 0px;
    
    a
    {
        @include links;
    }
    div.footer.rounded
    {
        border:
        {
            color: $black;
            style: solid;
            width: 1px;
        }
        col
        {
            border:
            {
                left:
                {
                    color: $black;
                    style: solid;
                    width: 1px;
                }
            }
            ul.flat-vert.hover li.flat-vert.title
            {
                color: $black;
                font-family: $sans-serif-set;
            }
        }
    }
    p.bottommenu
    {
        color: $black;
        font:
        {
            family: $sans-serif-set;
        }
    }
}
p.debuginfo
{
    color: #161616;
    span.icon
    {
        background-image: url(%%teslorecouncilsmallest%%); /*change pi to septim dragon*/
        font-size: 0px;
        padding:
        {
            top: 10px;
            left: 0px;
            right: 9px;
            bottom: 5px;
        }
    }
}
