a.author.id-t2_69xg4[href*="/StarvedAfricanChild"]
  font-size: 0px
  &:after
    content: "StarvedKhajiitiChild"
    font-size: 10px !important
    color: $black !important
div.side
  div#moderation_tools
    div.title
      h1
        padding-left: 5px
      span.collapse-button
        background-color: $white !important
        border: none
        color: $black !important
    ul.content
      li
        ul.flat-vert.icon-menu.hover
          li
            a
              background-color: transparent !important
              color: $white
body.moderator
  div.content
    button
      color: $black
    @import etc/moderator/settings/
    @import etc/moderator/flair/
    @import etc/moderator/stylesheet
