div.flairgrant div.linefield input[type="text"],
div.flairgrant div.usertable span.flaircell input,
div.flairlist div.flairtemplate span.flaircell input
{
    background-color: $white !important;
}

div.side
{
    div#moderation_tools
    {
        div.title
        {
            h1
            {
                padding-left: 5px;
            }
            span.collapse-button
            {
                background-color: $white !important;
                border: none;
                color: $black !important;
            }
        }
        ul.content li ul.flat-vert.icon-menu.hover li a
        {
            background-color: transparent !important;
            color: $white;
        }
    }
}
div.content
{
    ul.tabmenu
    {
        li a
        {
            background-color: $black;
            color: $white;
        }
        li.selected a
        {
            background-color: $white;
            color: $red;
        }
    }
    div.stylesheet-customize-container div#images ul#image-preview-list li
    {
        margin-bottom: 20px !important;
        padding-bottom: 0px !important;
        width: 25% !important;
    }
}
body.moderator
{
    div.content
    {
        button
        {
            background:
            {
                color: transparent;
                image: $texture;
            }
            border:
            {
                color: $black;
                style: solid;
                width: 3px;
            }
            color: $white;
        }
        @import "etc/moderator/settings/";
        @import "etc/moderator/flair/";
        @import "etc/moderator/stylesheet";
    }
}
