/* /etc/wiki/ */
div.side
  div#wikiactions                                           // Wiki tools in sidebar
    div.title
      h1
        padding:
          left: 5px
      span.collapse-button
        background:
          color: $white
        border:
          style: none
          width: 0px
        color: $black !important
    ul.content
      li
        ul.flat-vert.hover                                  // Also no idea why this happens
          li
            a
              background:
                color: transparent !important
              color: $white
@import "etc/wiki/body"
@import "etc/wiki/formatting"
@import "etc/wiki/stylesheet"
@import "etc/wiki/topics"
