/* notification/sidebar/announcement */
div.side a[href$="#announcement"]
  +notification
  color: $white
  padding:
    top: 3px
    left: 0px
    right: 0px
    bottom: 1px
  right: 305px
  top: 63px
  width: 300px
  &:active,
  &:hover
    background:
      color: $white
    color: $red !important
  &:visited
    color: $white !important
