/* sidebar/create */
div.sidebox.create
  div.morelink
    +create
    a
      +create-link
      &:hover
        text-shadow: 0 0 5px #FFFFFF
    &:before
      content: url(%%Submit-Tail%%)
      position: absolute !important
      right: 300px
    &:hover
      background:
        color: $black
      border:
        style: none
        width: 0
      height: 29px
      width: 300px
  div.spacer
    display: none !important
