div.linkinfo
  background:
    color: $black
  border:
    style: none
    radius: 10px
  color: #EEEEEE
  margin:
    bottom: 0px
  position: relative
  right: -20px
  top: 300px
  width: 250px
  z-index: 20
  div.shortlink
    input
      background:
        color: transparent !important
        image: url(%%T2%%) !important
      color: $grey !important
      font:
        family: $code-set !important

form.login-form.login-form-side,
div.sponsorshipbox
  display: none !important
