div.side
{
    div.sidecontentbox
    {
        a.helplink /* Step 0 to Rename Moderators */
        {
            color: $white;
            position: relative;
            top: -1px;
        }
        a.helplink + div.title /* Step 1 to Rename Moderators */
        {
            margin:
            {
                bottom: -11px !important;
            }
            h1
            {
                font:
                {
                    size: 0px;
                }
                &:before /* Step 2 to Rename Moderators */
                {
                    content: "ELDER COUNCIL";
                    color: $white;
                    display: block;
                    font:
                    {
                        size: 13px;
                    }
                }
            }
        }
        ul.content
        {
            li
            {
                a.author[href*="/Dreamsleeve"],
                a.author[href*="/AkatoshBot"]
                {
                    display: none !important;
                    & + span.RESUserTag
                    {
                        display: none !important;
                        & + a.voteWeight
                        {
                            display: none !important;
                        }
                    }
                }
                a.voteWeight
                {
                    color: $grey;
                }
            }
        }
    }
}
body:not(.loggedin) div.side div.sidecontentbox a.helplink + div.title { margin-bottom: -11px !important; }
