/*
 *= require_self
 *= require sidebar/moderators/robots
 */
 
div.side div.sidecontentbox a.helplink + div.title h1 /*Step 1 in Renaming Moderators*/
{
    display: none;
}
div.side div.sidecontentbox a.helplink + div.title::before /*Step 2 in Renaming Moderators*/
{
    content: "ELDER COUNCIL";
    color: #F5F5F5;
    display: block;
    font-size: 130%;
}
div.side div.sidecontentbox a.helplink /*Step 3 in Renaming Moderators*/
{
    color: #F5F5F5;
    position: relative;
    top: -1px;
}
div.side div.sidecontentbox ul.content li a.author
{
    color: #F5F5F5;
}