/*
 *= require_self
 *= require sidebar/moderators/robots
 */
 
div.side
{
    div.sidecontentbox
    {
        a.helplink /* Step 0 to Rename Moderators */
        {
            color: $white;
            position: relative;
            top: -1px;
        }
        a.helplink + div.title /* Step 1 to Rename Moderators */
        {
            display: none;
        }
        a.helplink + div.title:before /* Step 2 to Rename Moderators */
        {
            content: "ELDER COUNCIL";
            color: $white;
            display: block;
            font:
            {
                size: 130%;
            }
        }
    }
}