div.sidecontentbox
  a.helplink
    color: $white
    position: relative
    top: -1px
    & + div.title
      margin:
        bottom: -11px !important
      h1
        font:
          size: 0px
        &:before
          content: "ELDER COUNCIL"
          color: $white
          display: block
          font:
            size: 13px
  ul.content
    li
      a.voteWeight
        color: $grey
      a.author[href*="/Dreamsleeve"],
      a.author[href*="/AkatoshBot"]
        display: none !important
        & + span.RESUserTag
          display: none !important
          & + a.voteWeight
            display: none !important
            & + span.flair
              display: none !important
              & + span.userattrs
                display: none !important
