/*	sidebar/search	*/
div.side
	form#search
		input[type="text"]
			background:
				color:	transparent	!important
				image:	$T2	!important
			color:	$grey
			margin:
				left:	10px
				right:	10px
				bottom:	10px
			width:	270px
		div#searchexpando.infobar
			background:
				color:	$black
			border:
				style:	none
				radius:	0	!important
				width:	0
			color:	#EEEEEE
			margin:
				top:	-5px
				left:	0
				right:	0
				bottom:	16px
			padding:
				top:	10px
			label
				color:	$white
