div.sidecontentbox
  div.title
    padding:
      left: 5px
    h1
      color: $white
  ul.content
    li
      div.reddit-entry
        span.score
          color: $white
        +links
      div.gadget
        +arrows
        div.right
          +links

div.account-activity-box
  p
    +links
