div.side div.sidecontentbox div.title h1,
div.side div.sidecontentbox ul.content li div.gadget div.reddit-entry span.score
{
    color: #F5F5F5;
}
div.side div.sidecontentbox ul.content li div.gadget div.reddit-entry a,
div.side div.account-activity-box p a
{
    color: #A72A2A;
}
div.side iframe#ad_main div#redditthis a
{
    font-family: Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Verdana, sans-serif !important;
    color: #A72A2A !important;
}
div.side div.sidecontentbox ul.content li div.reddit-entry a:hover,
div.side div.sidecontentbox ul.content li div.gadget div.right a:hover,
div.side iframe#ad_main div#redditthis a:hover,
div.side div.account-activity-box p a:hover
{
    text-decoration: underline;
}
div.side div.sidecontentbox ul.content li div.reddit-entry a:visited,
div.side div.sidecontentbox ul.content li div.gadget div.right a:visited,
div.side iframe#ad_main div#redditthis a:visited,
div.side div.account-activity-box p a:visited
{
    color: #7F1F1F;
}
