div#header
{
    div#header-bottom-left /* Main header background */
    {
        background:
        {
            color: $black;
            image: $banner;
            position: top;
            repeat: repeat-x;
        }
        height: $banner-height !important;
        z-index: 5 !important;

        a#header-img-a
        {
            img#header-img /* Snoo */
            {
                background:
                {
                    color: transparent;
                    image: $logo;
                    position: 0px 0px;
                    repeat: no-repeat;
                }
                height: 60px !important;
                margin:
                {
                    top: 0px;
                }
                width: 214px !important;
                z-index: 6 !important;
            }
            img#header-img:hover
            {
                background:
                {
                    position: 0px -60px;
                }
            }
        }
    }
}

@import "header/banner/tabs";
@import "header/banner/name";
