/* header/banner */
div#header-bottom-left
  background:
    attachment: scroll
    color: $black
    image: $banner
    position: top
    repeat: repeat-x
  height: $headerheight !important
@import "header/banner/tabs"
@import "header/banner/name"
