/* /header/banner/ */
div#header
  div#header-bottom-left
    background:
      attachment: scroll
      color: $black
      image: $banner
      position: top
      repeat: repeat-x
    height: $headerheight !important
    a#header-img-a
      img#header-img
        background:
          color: transparent
          image: $logo
          position: 0 0
          repeat: no-repeat
        height: $logoheight
        margin:
          top: $logooffset
        width: $logowidth
        &:hover
          background:
            position: 0 0 - $logoheight
@import "header/banner/tabs"
@import "header/banner/name"
