//  header/banner
//  Banner image, subreddit name, tabmenu

//  Using Ruby, define a dictionary of banners
//  reddit automatically creates a 50-digit hash of alphanumerics (base 36) on every
//  pageload. This gives us two easily-accessed random digits (we can select first
//  and last) and many more less-reliable numbers (you can test if a certain string
//  is present at all). If you're feeling too lazy to look up how to select from
//  within attribute/value pairs right now, you're in luck: I am too, so I copied
//  the list to here.
//  attr=string returns true only on a perfect match
//  attr~=string returns true if string is present anywhere in value as a whole word
//  attr*= string returns true if string is present anywhere in value, period.
//  attr|=string returns true if the value is equal to string, or if the value is of
//    the form "string-ANYTHINGELSE" (prefix via hyphenation). Not helpful here.
//  attr^=string returns true if the value opens with string
//  attr$=string returns true if the value ends with string

//  Create pseudoclasses for each RNG state
@each $banner in $banners-map
  $name:  getNameFromBanner($banner)
  $props: getPropertiesFromBanner($banner)
  %banner-#{$name} ~ a::after
    background:
      image:    getImageFromProperties($props)
      position: getPosFromProperties($props)
      repeat:   getRepeatFromProperties($props)

//  This is the source of random-enough numbers.
input[name="uh"]
  @each $state in $banner-key-kel
    &[value$="#{$state}"]
      @extend %banner-kel
  @each $state in $banner-key-scripts_daedric
    &[value$="#{$state}"]
      @extend %banner-scripts_daedric
  @each $state in $banner-key-scripts_oghma
    &[value$="#{$state}"]
      @extend %banner-scripts_oghma
  @each $state in $banner-key-maps_cyrod
    &[value$="#{$state}"]
      @extend %banner-maps_cyrod
  @each $state in $banner-key-maps_skyrim
    &[value$="#{$state}"]
      @extend %banner-maps_skyrim
  @each $state in $banner-key-maps_wilderness
    &[value$="#{$state}"]
      @extend %banner-maps_wilderness

//  Banner image area
div#header-bottom-left
  background:
    color:    $black
//      image:    $header-banner-img
//      position: $header-banner-pos
//      repeat:   $header-banner-rpt
  height: $header-banner-h
//  Banner attachment point
div#header-bottom-right input[name="uh"] ~ a
  &::after
    border:
      radius: 0
      style:  none
    content:  ""
    height: $banner-h
    width:  1920px
    padding:  0
    position: absolute
    top:  0
    right:  -5px
    z-index:  5
