/*
 *= require_self
 *= require header/banner/tabs
 *= require header/banner/name
 */

div#header div#header-bottom-left /*Main header background*/
{
    background-image: url(%%CapitalCol%%);
    height: 113px !important;
    z-index: 5 !important;
}
div#header div#header-bottom-left a#header-img-a img#header-img /*Snoo*/
{
    background-image: url(%%Snoos%%) !important;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    margin-top: 0px;
    height: 60px !important;
    width: 214px !important;
    z-index: 6 !important;
}
div#header div#header-bottom-left a#header-img-a img#header-img:hover
{
    background-image: url(%%Snoos%%) !important;
    background-position: 0px -60px;
}