/*	header/topbar	*/
div#sr-header-area
	background:
		color:	transparent
		image:	$texture
	border:
		bottom:	0
	height:	$submenu-height
	a, span
		color:	$white
		font:
			family:	$serif-set
			size:	95%	!important
	a#sr-more-link
		background:
			image:	$texture
		border:
			bottom:	0
	a[href*="/r/lounge"]
		color:	$gold
	a[href*="/r/teslore"]
		color:	$red
		font:
			size:	125%
	div.drop-choices.srdrop
		background:
			color:	transparent
			image:	$texture
		a.choice
			padding:
				top:	1px	!important
				left:	2px	!important
				right:	2px	!important
				bottom:	1px	!important
			&:hover
				background:
					color:	$white
					color:	$black
div#RESShortcutsEditContainer
	background:
		color:	transparent
		image:	$texture
div#RESShortcutsAdd,
div#RESShortcutsLeft,
div#RESShortcutsSort,
div#RESShortcutsRight,
div#RESShortcutsTrash
	background:
		color:	transparent
	color:	$white
div#RESShortcutsSort
	left:	0	!important
div#RESShortcutsViewport
	color:	$white
