/*	header/userbar	*/
div#header-bottom-right,
div#header-bottom-right.resNavTop
	background:
		color:	transparent
		image:	$texture
	border:
		radius:	0
		width:	0
	bottom:	$header-height - 20px
	margin:
		top:	-5px
		left:	0
		right:	5px
		bottom:	-5px
	padding:
		top:	4px
		left:	8px
		right:	8px
		bottom:	4px
	position:	absolute
	top:	23px
	a, form, span
		color:	$white !important
	a#mail
		background:
			color:	transparent
			image:	url(%%spritesheet%%)
		height:	10px
		width:	15px
		&.havemail
			background:
				position:	-45px -30px
		&.nohavemail
			background:
				position:	-30px -30px
	a#modmail
		background:
			color:	transparent
			image:	url(%%spritesheet%%)
		height:	16px
		width:	16px
		&.havemail
			background:
				position:	-45px -45px
		&.nohavemail
			background:
				position:	-30px -45px
div#userbarToggle
	background:
		color:	transparent
		image:	$texture
	color:	$white !important
	border:
		radius:	0
		style:	none
		width:	0
	line-height:	20px
	min-height:	100%
