div#header
{
    div#header-bottom-right,
    div#header-bottom-right.resNavTop
    {
        background:
        {
            color: transparent;
            image: $texture;
        }
        border:
        {
            radius: 0px;
            width: 0px;
        }
        bottom: $bannerheight - 20px;
        margin:
        {
            top: -5px;
            left: 0px;
            right: 5px;
            bottom: -5px;
        }
        padding:
        {
            top: 4px;
            left: 8px;
            right: 8px;
            bottom: 4px;
        }
        position: absolute;
        top: 23px;
        z-index: 15 !important;
        a,
        form,
        span
        {
            color: $white !important;
        }
        div#userbarToggle,
        div#userbarToggle.userbarHide,
        div#userbarToggle.userbarShow
        {
            background:
            {
                color: transparent;
                image: $texture;
            }
            color: $white !important;
            border:
            {
                style: none;
                radius: 0px;
                width: 0px;
            }
            line-height: 20px;
            min-height: 100%;
        }
    }
}
