body.wiki-page
{
    div.wiki-page-content
    {
        pre.subreddit-stylesheet-source /* Stylesheet in wiki */
        {
            background:
            {
                color: $white;
            }
            font:
            {
                family: $code;
            }

            code.language-css /* Styling parts of stylesheet */
            {
                span.attribute
                {
                    color: #8080C0;
                }
                span.class
                {
                    color: #800000;
                }
                span.comment
                {
                    color: #008000;
                    margin:
                    {
                        left: 0px;
                    }
                }
                span.id
                {
                    color: #00D0FF;
                }
                span.important
                {
                    color: #FF0000;
                }
                span.psuedo
                {
                    color: #FF8000;
                }
                span.tag
                {
                    color: #0000FF;
                }
            }
        }
    }
}
