/* RES/tagger */
div#userTaggerToolTip.RESDialogSmall
  background:
    color: $white
  border:
    color: $black
    radius: 0px
    style: solid
    width: 1px
  h3
    background:
      image: $texture
    color: $white
    top: -6px
  div#userTaggerToolTipContents.RESDialogContents.clear
    form
      div#userTaggerIgnoreContainer.toggleButton
        +RES-Toggle($black,$green,$red,$white,$grey,$grey,$black)
      input#userTaggerTag,
      input#userTaggerLink,
      input#userTaggerVoteWeight
        background:
          image: $T4
        color: $black
      input#userTaggerSave
        background:
          color: $green
        border:
          color: $black
          radius: 0px
          style: solid
          width: 1px
      label
        color: $black
        span.hoverHelp
          color: $red
      span#userTaggerPreview
        background:
          color: $white
        color: $black
