div#header div#header-bottom-left span.hover.pagename.redditname
{
    font-size: 25px;
    font-family: Georgia, "Book Antiqua", "Palatino Linotype", serif !important;
}
div#header div#header-bottom-left span.hover.pagename.redditname a
{
    background-image: url(%%Realms%%);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    display: inline-block;
    padding: 5px 160px 0px 0px;
    text-indent: -9999px;
    z-index: 6 !important;
}
div#header div#header-bottom-left span.hover.pagename.redditname a:hover
{
    background-position: 0px -33px;
    padding: 2px 160px 0px 0px;
}
