/* header/banner/name */
span.hover.pagename.redditname
  font:
    family: $serif-set !important
    size: 25px
  a
    background:
      color: transparent
      image: $name
      position: 0 0
      repeat: no-repeat
    display: inline-block
    font:
      family: $serif-set !important
      size: 25px
    padding:
      top: 6px
      left: 0
      right: 160px
      bottom: 0
    text-indent: -9999px
    z-index: 6 !important
    &:hover
      background:
        position: 0 -33px
      padding:
        top: 4px
        left: 0
        right: 160px
        bottom: 0
