/* /header/banner/name/ */
div#header
  div#header-bottom-left
    span.hover.pagename.redditname
      font:
        family: $serif-set !important
        size: 25px
      a
        background:
          color: transparent
          image: $name
          position: 0 0
          repeat: no-repeat
        display: inline-block
        font:
          family: $serif-set !important
          size: 25px
        padding:
          top: 4px
          left: 0
          right: 160px
          bottom: 0px
        position: relative
        top: -2px
        text-indent: -9999px
        &:hover
          background:
            position: 0 -33px
          top: 1px
