div#header div#header-bottom-left ul.tabmenu
{
    border: 0px none;
    position: absolute;
    top: 81px;
    left: 5px;
    z-index: 8 !important;
}
div#header div#header-bottom-left ul.tabmenu li a /*Tab menu buttons*/
{
    background-color: transparent;
    color: #F5F5F5;
    font-family: Georgia, "Book Antiqua", "Palatino Linotype", serif !important;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
div#header div#header-bottom-left ul.tabmenu li.selected a /*currently selected button*/
{
    background-color: #F5F5F5 !important;
    border: 1px solid #FFFFFF !important;
    color: #BF2F2F !important;
}
div#header div#header-bottom-left ul.tabmenu li a[href*="/controversial"],
div#header div#header-bottom-left ul.tabmenu li a[href*="/gilded"],
div#header div#header-bottom-left ul.tabmenu li a[href*="/wiki"],
div#header div#header-bottom-left ul.tabmenu li a[href*="stattit"],
div#header div#header-bottom-left ul.tabmenu li a.modtools-on,
div#header div#header-bottom-left ul.tabmenu li a#viewImagesButton
{
    display: none !important;
}