div.content div.thing.link div.midcol
{
    margin-top: 6px;
}
div.content div.thing div.arrow,
div.side div.sidecontentbox div.arrow
{
    background-image: url(%%Arrows%%);
    height: 14px;
    width: 15px;
}
div.content div.thing div.arrow.up,
div.side div.sidecontentbox div.arrow.up
{
    background-position: 0px 0px;
}
div.content div.thing div.arrow.down,
div.side div.sidecontentbox div.arrow.down
{
    background-position: 0px -15px;
    display: none !important;
}
div.content div.thing div.arrow.upmod,
div.side div.sidecontentbox div.arrow.upmod
{
    background-position: -15px 0;
}
div.content div.thing div.arrow.downmod,
div.side div.sidecontentbox div.arrow.downmod
{
    background-position: -15px -15px;
}