div.content div.thing div.entry div.expando-button /*Self-text expansion*/
{
    background-color: transparent;
    background-image: url(%%expando%%);
    height: 16px;
    width: 20px;
}
div.content div.thing div.entry div.expando-button.collapsed /*Open*/
{
    background-position: 6px -2px;
}
div.content div.thing div.entry div.expando-button.collapsed:hover
{
    background-position: 6px -22px;
}
div.content div.thing div.entry div.expando-button.expanded /*Close*/
{
    background-position: -13px -2px;
}
div.content div.thing div.entry div.expando-button.expanded:hover
{
    background-position: -13px -22px;
}