/* /content/frontpage/ */
div.content
  div.thing.link
    margin: 1px 0
    span.rank
      display: none !important
    a.thumbnail
      display: none !important
    div.entry
      ul.flat-list.buttons
        li
          a
            color: $brown
    &.stickied
      p.title
        a.title
          color: $green
      p.tagline
        span.stickied-tagline
          color: $green
    &.odd
      background:
        image: $T2
    &.even
      background:
        image: $T3
    &.last-clicked
      border:
        style: none
