/* content/post */
div.entry
  p.title
    a.title
      color: $black
      font:
        family: $sans-serif-set
        size: 18px !important
      &:visited
        color: $black-desat
  span.domain
    display: none !important
  p.tagline
    color: $brown
    font:
      size: 12px
    a.voteWeight
      color: $black !important
  div.expando
    div.usertext-body
      div.md
        background:
          color: $white
        border:
          color: $black
          style: solid
          width: 1px
        max-width: 75em !important
