div.content div.thing div.entry div.expando div.usertext-body div.md /*OP background*/
{
    background-color: #F5F5F5;
    border: 1px solid #161616;
    max-width: 75em !important;
}
.thing.comment:nth-child(4n+1) p.parent {
    background-color: transparent !important;
    background-image: url(%%T1%%) !important;
}
.thing.comment:nth-child(4n+3) p.parent {
    background-color: transparent !important;
    background-image: url(%%T2%%) !important;
}
div.comment
{
    background-color: transparent !important;
	margin-left: 0px !important;
    padding-bottom: 10px !important;
    padding-right: 30px !important;
	padding-left: 10px !important;
}
div.comment, /*1*/
div.comment div.comment div.comment, /*3*/
div.comment div.comment div.comment div.comment div.comment, /*5*/
div.comment div.comment div.comment div.comment div.comment div.comment div.comment, /*7*/
div.comment div.comment div.comment div.comment div.comment div.comment div.comment div.comment div.comment /*9*/
{
    background-image: url(%%T1%%) !important;
}
div.comment div.comment, /*2*/
div.comment div.comment div.comment div.comment, /*4*/
div.comment div.comment div.comment div.comment div.comment div.comment, /*6*/
div.comment div.comment div.comment div.comment div.comment div.comment div.comment div.comment, /*8*/
div.comment div.comment div.comment div.comment div.comment div.comment div.comment div.comment div.comment div.comment /*10*/
{
    background-image: url(%%T3%%) !important;
}