body div.content > div.sitetable
{
    margin-left: -3px;
    margin-right: 5px;
}
div.content div.thing div.entry p.title a.title
{
    color: #161616 !important;
    font-family: Roboto, "Helvetica Neue", Helvetica, "Segoe UI", Verdana, sans-serif;
    font-size: 18px !important;
}
div.content div.thing div.entry p.title a.title:visited
{
    color: #545454 !important;
}
div.content div.thing div.entry p.title span.domain /*self.teslore*/
{
    display: none !important;
}
div.content div.thing div.entry p.tagline
{
    font-size: 12px;
    color: #70381A !important;
}
div.content div.thing div.entry div.expando div.usertext-body div.md /*OP background*/
{
    background-color: #F5F5F5;
    border: 1px solid #161616;
    max-width: 75em !important;
}
