div.score
{
    font-family: Georgia, "Book Antiqua", "Palatino Linotype", serif;
    padding-bottom: 2px;
    &.likes
    {
        color: #FF8B60;
    }
    &.unvoted
    {
        color: #212121;
    }
        &.dislikes
    {
        color: #9494FF;
    }
}
