/* content/sticky */
body.listing-page
  div.content
    div.thing.stickied
      display: none
      div.entry
        p.title
          a.title
            color: $green
            font:
              weight: bold
        p.tagline
          span.stickied-tagline
            color: $green
