div.content div.thing div.entry p.title a.title
{
    color: #161616 !important;
    font-family: Roboto, "Helvetica Neue", Helvetica, "Segoe UI", Verdana, sans-serif;
    font-size: 18px !important;
}
div.content div.thing div.entry p.title a.title:visited
{
    color: #7B7B7B !important;
}
div.content div.thing div.entry p.title span.domain /*self.teslore*/
{
    display: none !important;
}
div.content div.thing div.entry p.tagline
{
    color: #70381A !important;
}