/* flair/attributes */
=RES-attrs
  a.author.friend
    background:
      color: transparent
    border:
      radius: 0px
    color: $black
  a.author.moderator
    background:
      color: transparent
    border:
      radius: 0px
    color: $black
  a.author.submitter
    background:
      color: transparent
    border:
      radius: 0px
    color: $black
=userattrs($top)
  margin:
    left: -9px
  padding:
    top: $top
    left: 15px
    right: 15px
    bottom: 12px
div.thing.link
  p.tagline
    +RES-attrs
    span.userattrs
      font:
        size: 0px
      margin:
        left: -4px
      a.friend
        +userattrs(19px)
        background:
          image: url(%%BarFriend%%)
      a.moderator
        +userattrs(19px)
        background:
          image: url(%%BarModerator%%)
div.thing.comment
  p.tagline
    +RES-attrs
    span.userattrs
      font:
        size: 0px
      margin:
        left: -4px
      a.friend
        +userattrs(17px)
        background:
          image: url(%%BarFriend%%)
      a.moderator
        +userattrs(17px)
        background:
          image: url(%%BarModerator%%)
      a.submitter
        +userattrs(17px)
        background:
          image: url(%%BarSubmitter%%)
