div.linkflair span.linkflairlabel
  padding: 2px 5px
  border: none
  border-radius: 4px

div.linkflair.linkflair-Apocrypha span.linkflairlabel
  background-color: $black
  color: $red

div.linkflair.linkflair-Discussion span.linkflairlabel
  background-color: $white
  color: $red

div.linkflair.linkflair-Question span.linkflairlabel
  background-color: $white
  color: $black
