/*
div.linkflair span.linkflairlabel
{
    padding: 2px 5px;
    border: none;
    border-radius: 4px;
}
div.linkflair.linkflair-Apocrypha span.linkflairlabel
{
    background-color: #161616;
    color: #BF2F2F;
}
div.linkflair.linkflair-Discussion span.linkflairlabel
{
    background-color: #F5F5F5;
    color: #BF2F2F;
}
div.linkflair.linkflair-Question span.linkflairlabel
{
    background-color: #F5F5F5;
    color: #161616;
}
*/