/* flair/link */
div.thing.linkflair
  span.linkflairlabel
    padding: 2px 5px
    border:
      style: none
      radius: 4px
  &.linkflair-Mod
    a.title
      color: $green !important
      padding: 0 5px
    span.linkflairlabel
      display: none
