/* flair/private */
span.flair-Council //Elder Council - Moderators
  background-position: 0px -30px
span.flair-Elk //Elk - MK
  background-position: 0px -60px
span.flair-AnXileel //An-Xileel - IceFireWarden
  background-position: -100px 0px
span.flair-c0da // Registered by CODA - myrrlyn, numinit
  background-position: -100px -30px
span.flair-Dagonite // Dagonite - mojonation1487
  background-position: -100px -60px
span.flair-Gerka // Tower Dancer - Gerka
  background-position: -100px -90px
span.flair-IGS // Imperial Geographic Society - Hollymarkie
  background-position: -100px -120px
span.flair-Mane // Mane - Mr_Flippers
  background-position: -100px -150px
span.flair-Orcpocrypha // Orcpocrypha - myrrlyn (Deprecated)
  background-position: -100px -180px
span.flair-Seeker // Seeker - salivific
  background-position: -100px -210px
span.flair-Storyteller // Storyteller - lebiro
  background-position: -100px -240px
// MK - MKirkbride
a[href$="/MKirkbride"].author.id-t1_dhl5b, //Comment
a[href$="/MKirkbride"].author.id-t2_dhl5b  //Account
  background:
    color: $black / 2 !important
  border:
    style: none !important
    radius: 0px !important
    width: 0px !important
  color: $white !important
  margin:
    right: -2px
  padding:
    top: 7px
    left: 4px
    right: 8px
    bottom: 6px
  &:after
    background:
      color: $black / 2 !important
    color: $white !important
    content: " | OFFICIAL"
    border:
      style: none !important
      radius: 0px !important
      width: 0px !important
  & + span.RESUserTag
    display: none !important
    & + a.voteWeight
      display: none !important
