/* flair/private */
span.flair
  &.flair-Council
    background:
      position: 0 -30px
  &.flair-Elk
    background:
      position: 0 -60px
  &.flair-AnXileel
    background:
      position: -100px 0
  &.flair-c0da
    background:
      position: -100px -30px
  &.flair-Dagonite
    background:
      position: -100px -60px
  &.flair-Gerka
    background:
      position: -100px -90px
  &.flair-IGS
    background:
      position: -100px -120px
  &.flair-Mane
    background:
      position: -100px -150px
  &.flair-Orcpocrypha
    background:
      position: -100px -180px
  &.flair-Seeker
    background:
      position: -100px -210px
  &.flair-Storyteller
    background:
      position: -100px -240px
// MK-specific things
a[href$="/MKirkbride"].author.id-t1_dhl5b,
a[href$="/MKirkbride"].author.id-t2_dhl5b
  background:
    color: $black / 2 !important
  border:
    radius: 0 !important
    style: none !important
  color: $white !important
  margin:
    right: -2px
  padding:
    top: 7px
    left: 4px
    right: 8px
    bottom: 6px
  &:after
    background:
      color: $black / 2 !important
    color: $white !important
    content: " | OFFICIAL"
    border:
      radius: 0 !important
      style: none !important
  & + span.RESUserTag
    display: none !important
    & + a.voteWeight
      display: none !important
