/* flair/public */
span.flair
	&.flair-Armiger
		background:
			position:	-50px 0
	&.flair-Dwemer
		background:
			position:	-50px -30px
	&.flair-Julianos
		background:
			position:	-50px -60px
	&.flair-Mages
		background:
			position:	-50px -90px
	&.flair-Marukhati
		background:
			position:	-50px -120px
	&.flair-Moth
		background:
			position:	-50px -150px
	&.flair-Mythic
		background:
			position:	-50px -180px
	&.flair-Psijic
		background:
			position:	-50px -210px
	&.flair-Scarab
		background:
			position:	-50px -240px
	&.flair-Synod
		background:
			position:	-50px -270px
	&.flair-Telvanni
		background:
			position:	-50px -300px
	&.flair-Thalmor
		background:
			position:	-50px -330px
	&.flair-Tribunal
		background:
			position:	-50px -360px
	&.flair-Winterhold
		background:
			position:	-50px -390px
	&.flair-Worm
		background:
			position:	-50px -420px
