span.flair-Council
  background-position: 0px -30px
span.flair-Armiger
  background-position: 0px -60px
span.flair-c0da
  background-position: 0px -90px
span.flair-Winterhold
  background-position: 0px -120px
span.flair-Dagonite
  background-position: 0px -150px
span.flair-Dwemer
  background-position: 0px -180px
span.flair-Gerka
  background-position: 0px -210px
span.flair-Mages
  background-position: 0px -240px
span.flair-IGS
  background-position: 0px -270px
span.flair-Julianos
  background-position: 0px -300px
span.flair-Mane
  background-position: 0px -330px
span.flair-Marukhati
  background-position: 0px -360px
span.flair-Moth
  background-position: 0px -390px
span.flair-Mythic
  background-position: 0px -420px
span.flair-myrrlyn
  background-position: 0px -450px
span.flair-Psijic
  background-position: 0px -480px
span.flair-dbcification
  background-position: 0px -510px
span.flair-Telvanni
  background-position: 0px -540px
span.flair-Tribunal
  background-position: 0px -570px

/* MK - MKirkbride */
span.flair-MK
  background:
    position: 0px 0px
  position: relative
  top: -2px
  left: -4px
a[href$="/MKirkbride"].author.id-T1_dhl5b
  background:
    color: $black / 2 !important
  border:
    style: none !important
    radius: 0px !important
    width: 0px !important
  color: $red !important
  margin:
    right: -2px
  padding:
    top: 5px
    left: 4px
    right: 8px
    bottom: 5px
  &:after
    background:
      color: $black / 2 !important
    color: $red !important
    content: " | OFFICIAL"
    border:
      style: none !important
      radius: 0px !important
      width: 0px !important
  & + span.RESUserTag,
    display: none !important
    & + a.voteWeight
      display: none !important

/* Disabled for aesthetics */
span.flair.flair-MK + span.userattrs
  display: none !important
