username:    'your username'
password:    'your password'
subreddit:   'your subreddit'
stylesheet:  'teslore'
postprocess: 'notification/sidebar/date_content.css,notification/sidebar/banner_content.css'
