/* notification/banner_content */
/*!
@banner
{
	"banners":
	{
		"ayrenn":
		{
			"url": "%%BannerAyrenn%%",
			"author": "http://theminttu.deviantart.com"
			"height": "125px"
		},
		"daedric":
		{
			"url": "%%BannerDaedric%%",
			"author": "#"
			"height": "100px"
		},
		"dragonsbloom":
		{
			"url": "%%BannerDragonsBloom%%",
			"author": "/u/avian81"
			"height": "150px"
		}
		"dragonssepia":
		{
			"url": "%%BannerDragonsSepia%%",
			"author": "/u/avian81"
			"height": "150px"
		}
		"kel":
		{
			"url": "%%BannerKel%%",
			"author": "#"
			"height": "100px"
		},
		"cyrod":
		{
			"url": "%%BannerMapCyrod%%",
			"author": "#"
			"height": "100px"
		},
		"skyrim":
		{
			"url": "%%BannerMapSkyrim%%",
			"author": "#"
			"height": "100px"
		},
		"slice":
		{
			"url": "%%BannerMapSlice%%",
			"author": "#"
			"height": "100px"
		},
		"numinatus":
		{
			"url": "%%BannerNuminatus%%",
			"author": "http://ladynerevar.tumblr.com"
			"height": "76px"
		},
		"oghma":
		{
			"url": "%%BannerOghma%%"
			"author": "#"
			"height": "100px"
		},
		"pretty":
		{
			"url": "%%BannerPretty%%"
			"author": "http://ladynerevar.tumblr.com"
			"height": "100px"
		},
		"prophet":
		{
			"url": "%%BannerProphet%%",
			"author": "http://ladynerevar.tumblr.com"
			"height": "125px"
		}
	}
}
*/
div.side a[href$="#banner"]:after
{
    content: "";
}
/*! @end */
