/*
div.content::before {
*/
/* @begin AkatoshBot */
/*
    content: "Hermaeus Mora's Summoning Day";
*/
/* @end AkatoshBot */
/*
    background-image: url(%%T3%%);
    border: none;
    border-radius: 8px;
    color: #000000;
    font-family: "Book Antiqua", Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 4px 5px;
    position: absolute !important;
    top: 52px !important;
    right: 606px !important;
    width: auto;
    z-index: 25;
}
*/