/*
div.content div.thing.link div.arrow.up:hover::before
{
    position: absolute;
    display: block;
    z-index: 1000;
    width: auto;
    padding: 5px;
    border: 1px solid #000000;
    background-color: #000000;
    content: "Quality submission";
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #FFA533;
    margin-left: 25px;
    margin-top: 5px;
    border-radius: 5px;
}
div.content div.thing.link div.arrow.down:hover::before
{
    position: absolute;
    display: block;
    z-index: 1000;
    width: auto;
    padding: 5px;
    border: 1px solid #000000;
    background-color: #000000;
    content: "Poor submission";
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #66B5FF;
    margin-left: 25px;
    margin-top: 5px;
    border-radius: 4px;
}
div.content div.thing.comment div.arrow.up:hover::before
{
    position: absolute;
    display: block;
    z-index: 1000;
    width: auto;
    padding: 5px;
    border: 1px solid #000000;
    background-color: #000000;
    content: "Don't upvote just because you agree - be sure it's a good comment.";
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #FFA533;
    margin-left: 25px;
    margin-top: 5px;
    border-radius: 5px;
}
div.content div.thing.comment div.arrow.down:hover::before
{
    position: absolute;
    display: block;
    z-index: 1000;
    width: auto;
    padding: 5px;
    border: 1px solid #000000;
    background-color: #000000;
    content: "Don't downvote just because you disagree - is it really a poor comment?";
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #66B5FF;
    margin-left: 25px;
    margin-top: 5px;
    border-radius: 4px;
}
*/
