/* Vote Warning Format */
@mixin vote
{
    background:
    {
        color: $black;
    }
    border
    {
        color: $black;
        style: solid;
        radius: 4px;
        width: 1px;
    }
    display: block;
    font:
    {
        family: $serif-set;
        size: 11px;
        weight: bold;
    }
    margin:
    {
        top: 5px;
        left: 25px;
    }
    padding: 5px;
    position: absolute;
    text:
    {
        align: center;
    }
    width: auto;
    z-index: 1000 !important;
}

div.content
{
    div.thing.link
    {
        div.arrow.up:hover::before
        {
            @include vote;
            color: #FFA533;
            content: "Quality submission";
        }
        div.arrow.down:hover::before
        {
            @include vote;
            color: #66B5FF;
            content: "Poor submission";
        }
        div.content
        {
            div.thing.comment
            {
                div.arrow.up:hover::before
                {
                    @include vote;
                    color: #FFA533;
                    content: "Don't upvote just because you agree - be sure it's a good comment.";
                }
                div.arrow.down:hover::before
                {
                    @include vote;
                    color: #66B5FF;
                    content: "Don't downvote just because you disagree - is it really a poor comment?";
                }
            }
        }
    }
}
