html
  background:
    attachment: fixed !important
    color: #000000 !important
    image: url(%%almsivi%%) !important
    position: center center !important
    repeat: no-repeat !important
  & > *
    background:
      color: black !important
    display: none !important
    visibility: hidden !important
