/* global/formatting */
a.author
  background:
    color: transparent !important
  border:
    radius: 0 !important
    style: none
  color: $black !important
  margin: 0
  padding:
    top: 2px
    left: 3px
    right: 3px
    bottom: 3px
a.gold, a.buygold,
div.roundfield.gold-accent span.title
  color: $gold !important
  font:
    weight: bold !important
button
  font:
    family: $sans-serif-set
div.md
  overflow: hidden
  +links
  blockquote
    background:
      image: $T1
    border:
      top: none
      right: none
      left: #333333 6px solid
      bottom: none
    padding:
      top: 1px
      left: 5px
      right: 2px
      bottom: 1px
  code
    background:
      color: $grey
    border:
      radius: 3px
      style: none
    font:
      family: $code-set
      size: 12px
    padding: 1px 2px
  h1
    border:
      style: none
    color: $black
    font:
      size: 17px
      weight: 700
    margin:
      left: 5px
  h2
    color: $black
    font:
      size: 17px
      weight: 600
    margin:
      left: 5px
  h3
    color: $black
    font:
      size: 16px
      weight: 600
    margin:
      left: 5px
  h4
    color: $black
    font:
      size: 16px
      weight: 500
    margin:
      left: 5px
  h5
    color: $black
    font:
      size: 15px
      weight: 500
    margin:
      left: 5px
  h6
    color: $black
    font:
      size: 14px
      weight: 400
    margin:
      left: 5px
  hr
    background:
      color: $black
    border:
      style: none
    height: 1px
    margin: 0 -5px
  p
    color: $black
    margin:
      top: 7px
      left: 10px
      right: 10px
      bottom: 7px
    line-height: 16px
  pre
    background:
      color: $grey
    border:
      radius: 5px
      style: none
  sup
    font:
      size: 75%
    vertical-align: super
  table
    border:
      collapse: separate
    thead
      tr
        th
          text:
            align: center
    tbody
      tr
        td
          text:
            align: center
