/* /global/spoilers/ */
/* SPOILER code */
a[href="#s"], a[href="#spoiler"],                         // # is preferable to /
a[href="/s"], a[href="/spoiler"]                          // s is legacy code
  background:
    color: $black !important
  border:
    style: none
    radius: 3px
    width: 0px
  color: $white !important
  font:
    weight: bold
  padding:
    top: 0px
    left: 5px
    right: 5px
    bottom: 0px
  &:after
    background:
      color: $black !important
    color: $black !important
    content: attr(title)
    font:
      weight: normal
    padding:
      left: 4px
      right: 4px
    text:
      decoration: none !important
  &:hover,                                                // Only mice can hover
  &:active                                                // Touch users trigger activation
    color: $gold !important
    text:
      decoration: none !important
    &:after
      color: $white !important
  & + span.keyNavAnnotation                               // Force RES not to give a superscript cite number
    display: none !important
/* CONJECTURE code */
a[href="#g"], a[href="#conjecture"],                      // # works with touch, / does not
a[href="/g"], a[href="/conjecture"]                       // g is legacy code
  background:
    color: $green !important
  border:
    style: none
    radius: 3px
    width: 0px
  color: $white !important
  font:
    weight: bold
  padding:
    top: 0px
    left: 5px
    right: 5px
    bottom: 0px
  &:after
    background:
      color: $green !important
    color: $white !important
    content: attr(title)
    font:
      weight: normal
    padding:
      left: 4px
      right: 4px
    text:
      decoration: none !important
  &:hover,
  &:active
    color: $gold !important
    text:
      decoration: none !important
    &:after
      color: $white !important
  & + span.keyNavAnnotation
    display: none !important
