/* SPOILER Code */
a[href="#s"],
a[href="/s"],
a[href="#spoiler"],
a[href="/spoiler"]
{
    background:
    {
        color: $black;
    }
    border:
    {
        style: none;
        radius: 3px;
        width: 0px;
    }
    color: $white;
    font:
    {
        weight: bold;
    }
    padding:
    {
        top: 0px;
        left: 5px;
        right: 5px;
        bottom: 0px;
    }
    &:after
    {
        background:
        {
            color: $black;
        }
        color: $black;
        content: attr(title);
        font:
        {
            weight: normal;
        }
        padding:
        {
            left: 4px;
            right: 4px;
        }
    }
    &:hover,
    &:active
    {
        color: $gold;
        text:
        {
            decoration: none;
        }
        &:after
        {
            color: $white;
        }
    }
}
/* CONJECTURE Code */
a[href="#g"],
a[href="/g"],
a[href="#conjecture"],
a[href="/conjecture"]
{
    background:
    {
        color: $green;
    }
    border:
    {
        style: none;
        radius: 3px;
        width: 0px;
    }
    color: $white;
    font:
    {
        weight: bold;
    }
    padding:
    {
        top: 0px;
        left: 5px;
        right: 5px;
        bottom: 0px;
    }
    &:after
    {
        background:
        {
            color: $green;
        }
        color: $white;
        content: attr(title);
        font:
        {
            weight: normal;
        }
        padding:
        {
            left: 4px;
            right: 4px;
        }
    }
    &:hover,
    &:active
    {
        color: $gold;
        text:
        {
            decoration: none;
        }
        &:after
        {
            color: $white;
        }
    }
}
