div#header
{
    div#header-bottom-left
    {
        background:
        {
            image: url(%%BannerWiki%%);
        }
    }
}
div.content span h1.wikititle
{
    color: $black;
    font:
    {
        family: $serif-set;
    }
    text:
    {
        transform: uppercase;
    }
}
div.md.wiki
{
    background:
    {
        color: $white;
    }
    border:
    {
        color: $black;
        style: solid;
        radius: 7px;
        width: 1px;
    }
    padding:
    {
        top: 0px;
        left: 5px;
        right: 5px;
        bottom: 0px;
    }
    
    a,
    a:visited
    {
        color: $black;
        font:
        {
            style: italic;
        }
        text:
        {
            decoration: underline;
        }
    }
}
div.wiki-page-content
{
    form#editform textarea#wiki_page_content /* Wiki page entry */
    {
        height: 500px;
        width: 99%;
    }
}
