div.md.wiki
{
    background:
    {
        color: $white;
    }
    border:
    {
        color: $black;
        style: solid;
        radius: 7px;
        width: 1px;
    }
    padding:
    {
        top: 0px;
        left: 5px;
        right: 5px;
        bottom: 0px;
    }
    a
    {
        color: $black;
        text:
        {
            decoration: underline;
        }
        &:visited
        {
            font:
            {
                style: italic;
            }
        }
    }
}
