/* notification/sidebar/community */
div.side
	a[href$="#com"]
		+notification
		color:	$white !important
		padding:
			top:	2px
			left:	0
			right:	0
			bottom:	2px
		right:	305px
		top:	$noticeheight
		width:	250px
		&:active,
		&:hover
			background:
				color:	$white
			color:	$red !important
		&:visited
			color:	$white !important
