div.side a[href$="#com"]
{
    @include notification;
    color: $white;
    padding:
    {
        top: 2px;
        left: 0px;
        right: 0px;
        bottom: 1px;
    }
    right: 305px;
    top: 39px;
    width: 250px;
}
div.side a[href$="#com"]:active,
div.side a[href$="#com"]:hover
{
    background
    {
        color: $white;
    }
    border:
    {
        color: $white;
        style: solid;
        width: 1px;
    }
    color: $red !important;
}
div.side a[href$="#com"]:visited
{
    color: $white !important;
}
