/* notification/sidebar/community */
div.side a[href$="#com"]
  +notification
  color: $white !important
  padding:
    top: 2px
    left: 0px
    right: 0px
    bottom: 2px
  right: 305px
  top: 43px
  width: 250px
  &:active,
  &:hover
    background:
      color: $white !important
    color: $red !important
