/* notification/sidebar/date */
div.side a[href="#date"]
  +notification
  background-image: $T4
  color: $black !important
  padding:
    top: 5px
    left: 0px
    right: 0px
    bottom: 5px
  top: 8px
  right: 305px
  width: 306px
  &:visited
    color: $black !important
