/* notification/sidebar/date */
div.side
  a[href$="#date"]
    +notification
    background:
      image: $T4
    color: $black !important
    padding:
      top: 5px
      left: 0
      right: 0
      bottom: 5px
    top: 9px
    right: 305px
    width: 306px
    &:visited
      color: $black !important
    font-family: $code-set
