div.side a[href="#date"]
{
    background-image: url(%%T4%%);
    border: 0px solid #161616;
    color: #161616;
    display: inline-block;
	font-family: Georgia, "Book Antiqua", "Palatino Linotype", serif !important;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px 0px 0px;
    position: absolute;
    top: 8px;
    right: 305px;
    width: 306px;
    height: 21px;
    text-align: center;
}
div.side a[href="#date"]:after
{
    content: /*! @@date {
                          "year": false,
                          "holidays": {
                            "0101": "New Life Festival",
                            "0113": "Meridia's Summoning Day",
                            "0202": "Mad Pelagius",
                            "0316": "Heart's Day",
                            "0305": "Hermaeus Mora's Summoning Day",
                            "0321": "Hogithum",
                            "0409": "Peryite's Summoning Day",
                            "0509": "Marukh's Day",
                            "0605": "Hircine's Summoning Day",
                            "0616": "Mid Year Celebration",
                            "0624": "Tibedetha",
                            "0710": "Merchants' Festival",
                            "0908": "Nocturnal's Summoning Day",
                            "1008": "Malacath's Summoning Day",
                            "1013": "Witches' Festival",
                            "1030": "Emperor's Day",
                            "1102": "Gauntlet",
                            "1108": "Moon Festival",
                            "1120": "Warriors Festival",
                            "1225": "Saturalia",
                            "1230": "Old Life Festival",
                            "1231": "Old Life Festival"
                          }
                        }
              */ "Fredas, 29th of Sun's Dusk"; /*! @end */
}
/*
div.side a[href="#date"]:before
{
    background-image: url(%%Date-Tail%%);
    content:"";
    width: 25px;
    height: 29px;
    position: absolute;
    top: 0px;
    right: 300px;
}
*/
div.side a[href="#date"]:visited
{
    color: #161616 !important;
}
