div.side a[href$="#faq"]
  +notification
  color: $white !important
  padding:
    top: 2px
    left: 6px
    right: 6px
    bottom: 2px
  right: 565px
  top: 43px
  &:active,
  &:hover
    background:
      color: $white !important
    color: $red !important
