div.side a[href$="#faq"]
{
    border: 0px solid #F5F5F5;
    color: #F5F5F5;
    display: inline-block;
    font-family: Georgia, "Book Antiqua", "Palatino Linotype", serif !important;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
    position: absolute;
    top: 41px;
    right: 550px;
    text-align: center;
    text-transform: uppercase;
}
div.side a[href$="#faq"]:active,
div.side a[href$="#faq"]:hover
{
    background-color: #F5F5F5;
    border: 1px solid #FFFFFF;
    color: #BF2F2F;
}
div.side a[href$="#faq"]:visited
{
    color: #F5F5F5 !important;
}