div.side a[href$="#faq"]
{
    @include notification;
    color: $white;
    padding:
    {
        top:2px;
        left: 6px;
        right: 6px;
        bottom: 2px;
    }
    right: 565px;
    top: 41px;
    width: 50px;
}
div.side a[href$="#faq"]:active,
div.side a[href$="#faq"]:hover
{
    background
    {
        color: $white;
    }
    border:
    {
        color: $white;
        style: solid;
        width: 1px;
    }
    color: $red !important;
}
div.side a[href$="#faq"]:visited
{
    color: $white !important;
}