div.side a[href$="#faq"]
{
    background-image: url(%%T4%%);
    border: 0px solid #F5F5F5;
    color: #161616;
    display: inline-block;
    font-family: Georgia, "Book Antiqua", "Palatino Linotype", serif !important;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0px 0px 0px;
    position: absolute;
    top: 39px;
    right: 616px;
    width: 49px;
    height: 34px;
    text-align: center;
}
div.side a[href$="#faq"]:visited
{
    color: #F5F5F5 !important;
}