/*Written by /u/myrrlyn and /u/numinit*/

html
{
    position: relative !important; /*Reddit Companion's shinebar does not cooperate without this*/
}
body
{
    background-attachment: fixed;
    background-image: url(%%Map%%);
    background-position: center center;
}
.md a
{
    color: #7EB5B5;
    font-family: "Helvetica Neue", Helvetica, Segoe, Verdana, sans-serif;
    font-size: 12px;
}
.md a.author
{
    margin: 2px 1px 1px 1px;
}
.md a.author.moderator
{
    color: #861D1D !important;
}
a.voteWeight /*RES user-votes box*/
{
    background-color: transparent;
}
.md blockquote
{
    background-image: url(%%T2%%) !important;
    border-left: 6px solid #333333 !important;
    padding: 1px 2px 1px 5px !important;
}
.md blockquote p
{
    font-family: "EB Garamond", "Book Antiqua", Georgia, "Palatino Linotype", serif !important;
}
.md code
{
    font-family: "Inconsolata", "Consolas", "Lucida Console", "Courier New", monospace !important;
    font-size: small;
}
{
    background-image: url(%%T2%%) !important;
    border-left: 6px solid #333333 !important;
    padding: 1px 2px 1px 5px !important;
}
.md blockquote p
{
    font-family: "EB Garamond", "Book Antiqua", Georgia, "Palatino Linotype", serif !important;
}
.md code
{
    font-family: "Inconsolata", "Consolas", "Lucida Console", "Courier New", monospace !important;
    font-size: small;
}
.md p
{
    color: #000000;
    margin: 7px 10px;
    line-height: 16px;
}
table
{
    border-collapse: separate;
}
table thead tr th
{
    text-align: center;
    
}
table tbody tr td
{
    text-align: center;
}

/*Submission Page*/
form#newlink.submit.content div.formtabs-content div#title-field, /*Blue background*/
form#newlink.submit.content div.formtabs-content div#text-field, /*areas changed to*/
form#newlink.submit.content div.formtabs-content div#reddit-field /*fit with color scheme*/
{
    background-color: transparent;
    background-image: url(%%Bar-Texture%%);
}
form#newlink.submit.content div.formtabs-content span.title /*Color change*/
{
    color: #F5F5F5;
}

/*Moderator Tools*/
div.linefield,
div.linefield span.title
{ 
    background-color: transparent;
    background-image: url(%%Bar-Texture%%);
    color: #F5F5F5;
}
div#sr-form div.linefield input, /*Setting various text inputs*/
div#sr-form div.linefield div textarea, /*to parchment texture*/
div.flairgrant div.linefield input, /*rather than plain white*/
div.flairgrant div.usertable span.flaircell input,
div.flairlist div.flairtemplate span.flaircell input
{
    background-color: transparent;
    background-image: url(%%Parchment%%);
}
div.content ul.tabmenu li a
{
    background: #161616;
    color: #F5F5F5;
}
div.content ul.tabmenu li.selected a
{
    background: #F5F5F5;
    color: orangered;
}
div.content form#subreddit_stylesheet.pretty-form.sr-form div.sheets div.col div textarea#stylesheet_contents
{
    font-family: "Inconsolata", "Consolas", "Lucida Console", "Courier New", monospace !important;
    height: 500px !important;
    width: 99% !important;
}
div.content div.stylesheet-customize-container div#images ul#image-preview-list li
{
    margin-bottom: 20px !important;
    padding-bottom: 0px !important;
    width: 25% !important;
}

/*Wiki*/
div.md.wiki
{
    padding: 0 5px;
    background-color: #EEEEEE;
    border: 1px solid #336699;
    border-radius: 7px;
}
div.md.wiki a
{
    color: #336699;
}

/*Reddit Gold links*/
a.gold,
div.roundfield.gold-accent span.title
{
    color: #9a7d2e !important;
    font-weight: bold !important;
}
/*Spoiler Code*/
a[href="#s"], /*#links will be kind to mobile users*/
a[href="/s"], /*/links require a mouse*/
a[href="#spoiler"], /*Backwards compatibility*/
a[href="/spoiler"]
{
    background-color: #000000 !important;
    border-radius: 3px;
    color: #FFFFFF !important;
    cursor: default;
    font-weight: bold;
    padding: 0px 5px;
}
a[href="#g"],
a[href="/g"],
a[href="#conjecture"], /*Optional call for conjecture code*/
a[href="/conjecture"]
{
    background-color: #558800 !important;
    /*background-image: url(%%Conjecture-Cover%%);*/
    border-radius: 3px;
    color: #000000 !important;
    cursor: default;
    font-weight: bold;
    padding: 0px 5px;
}
a[href="#s"]:hover, /*Mouse*/
a[href="#s"]:active, /*Touch (mobile)*/
a[href="/s"]:hover,
a[href="/s"]:active,
a[href="#spoiler"]:hover,
a[href="#spoiler"]:active,
a[href="/spoiler"]:hover,
a[href="/spoiler"]:active
{
    color: #FFFF00 !important;
}
a[href="#g"]:hover,
a[href="#g"]:active,
a[href="/g"]:hover,
a[href="/g"]:active,
a[href="#conjecture"]:hover,
a[href="#conjecture"]:active,
a[href="/conjecture"]:hover,
a[href="/conjecture"]:active
{
    color: #FFFF00 !important;
}
a[href="#s"]::after,
a[href="/s"]::after,
a[href="#spoiler"]::after,
a[href="/spoiler"]::after
{
    background: #000000 !important;
    color: #000000; /*NOT !important, so that :hover::after can overwrite it*/
    content: attr(title);
    font-weight: normal;
    padding-left: 4px;
}
a[href="#g"]::after,
a[href="/g"]::after,
a[href="#conjecture"]::after,
a[href="/conjecture"]::after
{
    background-color: #558800 !important;
    color: #000000;
    /*background-image: url(%%Conjecture-Cover%%);*/
    /*color: #C3A787 !important;*/
    content: attr(title);
    font-weight: normal;
    padding-left: 4px;
}
a[href="#s"]:hover::after,
a[href="#s"]:active::after,
a[href="/s"]:hover::after,
a[href="/s"]:active::after,
a[href="#spoiler"]:hover::after,
a[href="#spoiler"]:active::after,
a[href="/spoiler"]:hover::after,
a[href="/spoiler"]:active::after
{
    color: #FFFFFF !important;
}
a[href="#g"]:hover::after,
a[href="#g"]:active::after,
a[href="/g"]:hover::after,
a[href="/g"]:active::after,
a[href="#conjecture"]:hover::after,
a[href="#conjecture"]:active::after,
a[href="/conjecture"]:hover::after,
a[href="/conjecture"]:active::after
{
    color: #000000 !important;
}