div.side
{
    div.titlebox
    {
        div.bottom
        {
            font:
            {
                size: 100%;
            }
            span.flair
            {
                display: none;
            }
            span.age
            {
                time
                {
                    display: none;
                }
            }
            span.age::after
            {
                content: "2 eras";
            }
        }
    }
}
