div.side
{
    div.titlebox
    {
        background:
        {
            color: transparent;
        }
        font:
        {
            size: 10px;
        }

        a
        {
            font:
            {
                size: 10px;
            }
        }
        form.toggle
        {
            background:
            {
                color: transparent;
            }
        }
    }
}
