div.side
{
    div.titlebox
    {
        background:
        {
            color: transparent;
        }
        font:
        {
            size: 10px;
        }
        span.subcribe-button
        {
            a.option
            {
                background:
                {
                    color: transparent;
                }
                border:
                {
                    radius: 4px;
                    width: 0px;
                }
                color: $white;
            }
        }
        span.subscribers,
        p.users-online
        {
            font-size: 11px !important;
            span.word
            {
                display: none;
            }
        }
        span.subscribers:after
        {
            content: " scholars";
        }
        p.users-online span.number:after
        {
            content: " scholars present";
        }
        div.leavemoderator
        {
            background:
            {
                color: transparent;
            }
            font-size: 10px !important;
        }
        form.toggle.flairtoggle
        {
            background:
            {
                color: transparent;
            }
            label
            {
                font-size: 10px !important;
            }
        }
    }
}
