div.side div.titlebox h1.redditname /*Banner in sidebar*/
{
    background-image: url(%%Flag%%);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    display: block;
    position: relative !important;
    top: 25px - $banner-height;
    left: 0px;
    margin-left: -5px;
    overflow: hidden !important;
    z-index: 17;
}
div.side div.titlebox h1.redditname a
{
    background-image: url(%%T-Flag%%);
    font-size: 0px;
    padding-top: 17px;
    padding-right: 300px;
    padding-bottom: 32px;
}
div.side div.titlebox h1.redditname a:hover
{
    background-position: 0px -45px;
    padding-bottom: 28px;
}