@mixin sidebar-flag($flagstop)
{
    background:
    {
        color: transparent;
        image: url(%%Flag%%);
        position: 0px 0px;
        repeat: no-repeat;
    }
    display: block;
    width: 300px;
    height: 300px;
    position: relative !important;
    top: $flagstop;
    left: 0px;
    margin:
    {
        left: -5px;
    }
    z-index: 17;
    
    a
    {
        background:
        {
            color: transparent;
            image: url(%%T-Flag%%);
        }
        font:
        {
            size: 0px;
        }
        padding:
        {
            top: 17px;
            right: 300px;
            bottom: 32px;
        }
    }
}

body:not(.comments-page)
{
    div.side
    {
        div.titlebox
        {
            h1.hover.redditname
            {
                @include sidebar-flag(-58px);
            }
        }
    }
}
body.comments-page
{
    div.side
    {
        div.titlebox
        {
            h1.hover.redditname
            {
                @include sidebar-flag(-168px)
            }
        }
    }
}