div.side div.titlebox span.subscribe-button a.option
{
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: #F5F5F5;
}
div.side div.titlebox span.subscribers span.word,
div.side div.titlebox p.users-online span.word
{
    display: none;
}
div.side div.titlebox span.subscribers:after
{
    content: " scholars";
}
div.side div.titlebox p.users-online span.number:after
{
    content: " scholars present";
}