div.side
{
    div.titlebox
    {
        span.subcribe-button
        {
            a.option
            {
                background:
                {
                    color: transparent;
                }
                border:
                {
                    radius: 4px;
                    width: 0px;
                }
                color: $white;
            }
        }
        span.subscribers,
        p.users-online
        {
            span.word
            {
                display: none;
            }
        }
        span.subscribers:after
        {
            content: " scholars";
        }
        p.users-online span.number:after
        {
            content: " scholars present";
        }
    }
}
