div.flair-settings.fancy-settings
  h1
    color: $black
    strong
      color: $red
  div.pretty-form form
    div.linefield
      background:
        color: transparent
        image: $texture
      span.title,
      div.linefield-content label
        color: $white

ul.tabmenu
  li a
    background:
      color: $black
    color: $white
  li.selected a
    background:
      color: $white
    color: $red

div.tabpane-content
  border:
    color: $black
    style: solid
    width: 1px
  div.flairgrant.flairlist
    div.linefield.flair-jump
      background:
        color: transparent
        image: $texture
      span.title
        color: $white
