/* etc/moderator/stylesheet */
body.moderator
  div.content
    div.stylesheet-customize-container
      h2
        color: $black
        margin-left: 4px
      form#subreddit_stylesheet.pretty-form.sr-form
        div.sheets
          div.col
            div
              textarea#stylesheet_contents
                background:
                  color: $black
                color: lighten($green, 25%)
                font:
                  family: $code-set
                height: 500px
                width: 99%
          div.buttons
            span.btn
              a
                color: $red
      div#preview-table
        table
          tbody
            tr
              th
                color: $black
                font-family: $code-set
      div#images
        ul#image-preview-list.image-list
          li
            margin-bottom: 20px !important
            padding-bottom: 0px !important
            width: 25% !important
            a
              color: $black
