/* header/banner/name */
span.hover.pagename.redditname
  font:
    family: $serif-set !important
    size: 25px
  a
    background:
      color: transparent
      image: $name
      position: 0px 0px
      repeat: no-repeat
    display: inline-block
    font:
      family: $serif-set !important
      size: 25px
    padding:
      top: 4px
      left: 0px
      right: 160px
      bottom: 0px
    text-indent: -9999px
    z-index: 6 !important
    &:hover
      background:
        position: 0px -33px
      padding:
        top: 2px
        left: 0px
        right: 160px
        bottom: 0px
