/* header/banner/tabs */
ul.tabmenu
  border: 0px none
  position: absolute
  top: $bannerheight - 8px
  left: 5px
  z-index: 8 !important
  li.selected
    a
      background:
        color: $white !important
      border:
        color: $white
        style: solid
        width: 1px
      color: $red
  li
    a
      background:
        color: transparent
      color: $white
      font:
        family: $serif-set
        size: 14px
        weight: bold
      text:
        transform: uppercase
    a[href*="/controversial"],
    a[href*="/gilded"],
    a[href*="stattit"],
    a.modtools-on,
    a#viewImagesButton
      display: none !important
